asgiref==3.4.1
Django==4.0.2
django-cors-headers==3.13.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
mysql-connector-python==8.0.26
protobuf==3.19.0
sqlparse==0.4.2
docker==5.0.3
django-mysql==4.5.0
pytz==2021.3
tzdata==2021.5
PyJWT==2.3.0

